{% assign volunteer-roles = site.data.data.volunteer-roles %}
{% if volunteer-roles %}
<section class="section volunteer-roles-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-hands-helping fa-stack-1x fa-inverse"></i>
    </span>
    Volunteer Roles
  </h2>

  {% for volunteer-roles in volunteer-roles %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ volunteer-roles.role }}</h3>
        <div class="time">{{ volunteer-roles.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ volunteer-roles.company }}</div>

    </div><!--//meta-->

    {% if volunteer-roles.details %}
    <div class="details">
      {{ volunteer-roles.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

